# Firebase
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAzseQzw0zUJh84P1z01UrPD8RGJVVYaFg
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=brcoachmanager.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=brcoachmanager
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=brcoachmanager.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=960996697246
NEXT_PUBLIC_FIREBASE_APP_ID=1:960996697246:web:14ed957ce9ac115275878f
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=
NEXT_PUBLIC_FIREBASE_VAPID_KEY=BBa-W89gPtD-ycSAZbmA5pU62kN-lzDb_95afyh-2-cMIXLul0p2f3lDhxp2c54tWPKi5V_6uj3VENvKUCi2FaY

# Seed script (optionnel — uniquement si tu veux que le script crée le compte Auth)
SEED_ADMIN_EMAIL=nicolas.deboccard@gmail.com
SEED_ADMIN_PASSWORD=

# PayRexx
PAYREXX_INSTANCE=
PAYREXX_API_SECRET=
PAYREXX_WEBHOOK_SECRET=

